[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/ArcherDing (ArcherDing)
[access "refs/for/refs/*"]
	read = group user/ArcherDing (ArcherDing)
	push = group user/ArcherDing (ArcherDing)
	label-Code-Review = -2..+2 group user/ArcherDing (ArcherDing)
	label-Verified = -1..+1 group user/ArcherDing (ArcherDing)
	rebase = group user/ArcherDing (ArcherDing)
	removeReviewer = group user/ArcherDing (ArcherDing)
	submit = group user/ArcherDing (ArcherDing)
[access "refs/heads/*"]
	read = group user/ArcherDing (ArcherDing)
	create = group user/ArcherDing (ArcherDing)
	push = +force group user/ArcherDing (ArcherDing)
	pushMerge = group user/ArcherDing (ArcherDing)
[access "refs/tags/*"]
	push = +force group user/ArcherDing (ArcherDing)
	createTag = group user/ArcherDing (ArcherDing)
	createSignedTag = group user/ArcherDing (ArcherDing)
